.contene{
    width: 100%;
    height: 100%;
}

.fr-container{
    border-radius: 2% ;
    height: 60vh;
    width: 50vh;
    display: flex;
    margin: auto;
    margin-top: 10vh;
}

.contene form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fr-item{
   width: 100%;
   margin:0px 0px 10vh 0px;
}

.fr-item label{
    width: 50%; 
}
.total-precio{
   display: flex;
   justify-content: space-evenly;
   margin: 2vh 0px 2vh 0px;
}

.title-form{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    font-size: 25px;
    font-weight: bold;
}