.container-num-order {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.N-order{
  color: rgb(207, 224, 23);
}

.h2-2{
margin-top: 10vh;
}

.btn-inicio{
  margin-top: 10vh;
}