@media (min-width:880px){
*{
    margin: 0px;
    padding: 0px;
}
.barra{
    background-color: gray;
}
.contenedor{
    width: 100vh;
}
.contenedor.container{
    margin: 0px;
    padding: 0px;
}
.logo{
    margin-left: 0px;
    width: 50%;
    text-align: center;
}


.nav-bar{
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  
  
}


.btn-n1{
    background-color: white;
    padding: auto;
    border-radius: 20px;
    
}

.carrito{
    padding: 10px;
    margin: 0px 0px 0px 20px; 
    width: 50px;
}


.container{
    max-width: none !important;
}

}


@media (max-width:880px){
    


.logo{
    width: 80%;
}
.nav-bar{
    display: flex;
    flex-direction: column !important;
    background-color: red;
}
.nav-toggle{
    width: 20%;
    background-color:white;
    color: black;
    border:none ;
    font-size: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

}